

#adopcion .content{
    width: 80%;
} 

header{
    background-color:rgba(14, 31, 223, 0.497);
    box-shadow: 0px 0px 5px rgb(57, 11, 225);
}

#adopcion h3, #adopcion h5{
    color: rgb(48, 48, 245);
    text-align: center;
}

#adopcion h3{
    font-size: 8rem;
    margin-bottom: 20px;
}

h5{
    font-size: 2rem;
}

#adopcion .informacion{
    padding: 0px;
}


#info2{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.informacion p {
    font-size: 2vmax;
}

.informacion button {
    width: 200px;
    background-color: rgb(57 11 225);
    font-size: 3vh;
    box-shadow: 0px 0px 5px rgb(60 10 243);
    border-radius: 30px;
}

.informacion button:hover {
    color: rgb(48 48 245);
}

#tituloadopcion{
    display: flex;
    justify-content: center;
    align-items: center;
}

#tituloadopcion img{
    border-radius: 0px;
    animation: none;
    width: 60%;
    margin-right: 50px;
}



























/*adopciones*/

main{
    background-color: #0bcfcf54;
    position: relative;
}

.estilos_info {
    padding: 0px 0px 0px 0px;
}


#barra{
    background-color: rgba(18, 50, 194, 0.349);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.3rem;
    position: sticky;
    top: 60px;
    color: aliceblue;
    z-index: 100;
}

main p{
    font-size: 1.3rem;
    text-align: center;
    padding-top: 20px;
    color: aliceblue;
    font-weight: bolder;
}

.adopciones{
    width: max-content;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.carta{
    width: 100%;
    max-width: 270px;
    height: 320px;
    margin: 30px 20px;
}

.carta .contenedor_img{
    height: 270px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
}

.carta img, #img_perfil{
    width: 100%;
    animation: none;
    border-radius: 0px;
}

.carta h4{
    background-color: rgba(22, 35, 216, 0.5);
    text-align: center;
    margin-top: 15px;
    font-size: 1.6rem;
    border-radius: 20px;
    padding: 5px;
    color: aliceblue;
}


#main{
    height: max-content;
}










#ventana_emergente{
    transition: transform 2s;
    background-color: rgba(35, 70, 223, 0.798);
    padding-top: 30px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0px;
    left: 0px;
    transform: translateX(100%);
    padding-top: 80px;
}

#ventana{
    background-color: rgb(255, 255, 255);
    width: 90vw;
    height: 80vh;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-radius: 20px;
    margin: auto;
}

#perfil{
    border-radius: 20px;
    width: 49%;
    background-color: rgb(18, 179, 215);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nombre_perfil{
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    text-align: center;
    width: 80%;
    border-radius: 20px;
    margin: auto;
}

#img_emergente{
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}



#img_emergente img{
    width: 80%;
}


#img_emergente img:hover{
    scale: 1.05;
}

#descripcion{
    width: 49%;
}

#texto{
    height: 100%;
    display: flex;
    flex-direction: column;

}

#descripcion_perfil{
    font-size: 1.7rem;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 90%;
    margin: auto;
    color: black;
}

#boton_formulario{
    background-color: rgb(18, 179, 215);
    width: 300px;
    height: 50px;
    font-size: 1.4rem;
    border-radius: 20px;
    margin: auto;
    color: aliceblue;
    border: 1px solid rgb(118, 118, 118);
    transition: all 0.5s;
}



#boton_formulario:hover{
    scale: 1.1;
}



#equis{
    display: flex;
    justify-content: end;
    font-size: 2rem;
    cursor: pointer;
}



@media (max-width: 1047px){
    #navgrande{
        background-color:rgba(37, 49, 104, 0.733);
    }
}



@media (max-width: 1600px){

    .adopciones{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #adopcion h3 {
        font-size: 7rem;
    }

    .informacion p {
        font-size: 1.5vmax;
    }

    .informacion button {
        font-size: 2vh;
    }

    
}



@media (max-width: 1290px){

    .adopciones{
        grid-template-columns: 1fr 1fr 1fr ;
    }

    #descripcion_perfil {
        font-size: 1.5rem;
    }

}


@media (max-width: 1050px){

    #adopcion .content {
        flex-direction: column;
    }

    #tituloadopcion img {
        display: none;
    }

    .estilos_info .content div {
        height: 30%;
    }

    #boton_formulario {
        width: 250px;
        height: 40px;
    }
}

@media (max-width: 980px){

    .adopciones{
        grid-template-columns: 1fr 1fr;
    }

    .informacion p {
        font-size: 2.5vmax;
    }

    #descripcion_perfil {
        font-size: 1.2rem;
    }

    #boton_formulario {
        font-size: 1.1rem;
        margin-top: 0px;
    }


    #ventana {
        height: 70vh;
    }

     
    #img_emergente img{
      height: none;
      width: 80%;
      height: max-content;
    }
}



@media (max-width: 824px){

    #descripcion_perfil {
        font-size: 1rem;
        margin-bottom: 0px;
    }

    #boton_formulario {
        font-size: 1rem;
        margin-top: 0px;
    }
}

@media (max-width: 680px){

    .carta {
        max-width: 230px;
        height: 280px;
        margin: 10px 10px;
    }

    .carta .contenedor_img {
        height: 230px;
    }

    #adopcion h3 {
        font-size: 6rem;
    }


    #descripcion_perfil {
        font-size: 0.9rem;
        margin-bottom: 0px;
    }

    #boton_formulario {
        font-size: 0.9rem;
        width: 200px;
    }


}



@media (max-width: 546px){

    .carta {
        max-width: 200px;
        height: 250px;
        margin: 10px 10px;
        position: relative;
    }

    .carta .contenedor_img {
        height: 200px;
    }

    #adopcion h3 {
        font-size: 5rem;
    }





    #ventana {
        flex-direction: column;
        height: 85vh;
    }


    #perfil {
        width: 100%;
        height: 60%;
    }

    #nombre_perfil {
        font-size: 1.6rem;
        width: 60%;
    }

    #img_emergente {
        width: 60%;
    }

    #descripcion {
        width: 100%;
        height: 40%;
    }

    #descripcion_perfil {
        font-size: 1rem;
        margin-bottom: 0px;
    }

    #equis {
        position: absolute;
        top: 75px;
        right: 38px;
        font-size: 1.5rem;
    }

}


@media (max-width: 482px){
    .carta {
        max-width: 180px;
        height: 230px;
        margin: 10px 10px;
    }

    .carta .contenedor_img {
        height: 180px;
    }

    #adopcion h3 {
        font-size: 4.3rem;
    }

    #img_emergente {
        width: 60%;
    }

    #equis {
        right: 27px;
    }

}


@media (max-width: 447px){

    main p {
        font-size: 1rem;
    }

    .carta {
        max-width: 150px;
        height: 200px;
        margin: 10px 5px;
    }

    .carta .contenedor_img {
        height: 150px;
    }

    #adopcion h3 {
        font-size: 4.2rem;
    }

    .informacion p {
        font-size: 2vmax;
    }

    .adopciones {
        padding: 0px;
    }



    #perfil {
        height: 50%;
    }

    #descripcion {
        height: 50%;
    }


    #nombre_perfil {
        font-size: 1.6rem;
        width: 55%;
    }


    #img_emergente {
        width: 70%;
    }
    
}



@media (max-width: 410px){


    #nombre_perfil {
        font-size: 1.4rem;
        width: 65%;
    }


    #img_emergente {
        width: 75%;
    }
}


@media (max-width: 360px){
    #nombre_perfil {
        font-size: 1.4rem;
        width: 75%;
    }


    #img_emergente {
        width: 80%;
    }

}








